/* Tailwind directives first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font imports next */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* Apply Space Grotesk font family to all elements by default */
@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Rest of your CSS */
* {
  /* border: 1px solid green; */
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #40444b;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Other CSS rules */
.modal-input {
  border: none !important;
  background-color: white;
  outline: none;
  color: black;
  font-size: 16px;
  width: 100%;
  resize: none;
}
.q1-container.q1-snow,
.q1-toolbar.q1-snow {
  border: none !important;
}
.q1-container.q1-snow {
  font-size: 20px;
}
.q1-editor {
  min-height: 60px;
}
.ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  display: inline-flex;
  animation: none;
  flex-wrap: nowrap;
  direction: ltr;
  @media (max-width: 768px) {
    display: inline-grid;
  }
}
.image-upload-area {
  text-align: center;
  margin-top: 20px;
}

.placeholder-text {
  font-size: 16px;
  color: #888;
}

.uploaded-file-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.progress-section {
  margin-top: 20px;
}
